@media (min-width:1440px) {


    main .card {
        display: flex;
        width: 40%;
        max-width: 100rem;
        max-height: 100rem;
        &__img {
            width: 50%;
            max-width: 80rem;
        img{
            min-height: 100%;
            }
        }
        &__description {
            width: 50%;
            margin: 1em 2.5em;
            .description--francais {
                padding-top: 2rem;
                font-size: 4.4rem;
                line-height: 4.4rem;
            }
            .description--about {
                font-size: 1.9rem;
            }
        }
    }
}